.about {
    background: linear-gradient(rgba(33, 37, 41, 1), rgba(33, 37, 41, 1), rgba(33, 37, 41, 1));
    height: 80vh;
    color: white;
}

.img-container {
    background: url("../../Assets/ladyreadin.jpg") center/cover no-repeat;
    position: relative;
}

@media (min-width: 768px) {
    .about-section {
        border-bottom: solid 1px #dee2e6;
    }
}