.home {
    height: 100vh;
    background: linear-gradient(rgba(33, 37, 41, 0.9),rgba(33, 37, 41, 0.5), rgba(255, 255, 255, 1)), url("../../Assets/readingPngOptimized.png") center/cover no-repeat ;    
    background-position: top right;
    scroll-behavior: smooth;
    overflow: hidden;
}

@media (min-width: 260px) and (max-width: 768px) {
    .home {
      background-position: top center;
    }
    .input-search{
        width: 60%;
    }
  }

  @media (min-width: 501px) and (max-width: 900px) {
    .home {
        background-position: center;
    }



  }



.header {
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
}

.header-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.search-icon {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    top: 2px;
    right: 0;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.search-icon:hover {
    transform: scale(1.2); 

}